.careers {
  padding: 3rem 0;

  p {
    font-size: 15px;
    font-family: Avenir Next;
  }

  a {
    text-decoration:none
  }

  .apply-btn {
    float: right;
  }

  .apply-section {
    margin: 30px 0;

    a {
      font-size: 18px;
    }
  }
  .qualifications {
    padding: 10px 0;

    ul {
      padding-inline-start: 40px;
      list-style-type: disc;
      padding-top: 5px;
    }
  }
  .disclosure {
    margin-top: 25px;
  }
}
.job-wrapper {
  main {
    background-image: none;
  }

  .job-intro {
    padding: 1rem 0;
  }
}

.horizontal-line {
  margin: 20px auto 20px auto;
  width: 80px;
  height: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-left: 0px;
}

.career-list {
  padding-top: 10px;
  padding-bottom: 10px;

  p {
    line-height: 1;
    font-size: 35px;
  }
}

.float-right {
  float: right;
}

.career-apply {

}